img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.card-g p {
  max-height: 120px;
  overflow-y: auto;
}


.imgbox {
  float: left;
  text-align: center;
  width: 150px;
  border: 1px solid gray;
  margin: 4px;
  padding: 6px;

}

.card-g {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 12px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.card:hover {
  box-shadow: 0 4px 10px rgba(27, 17, 22, 0.885);
}

button {
  align-self: center;
  cursor: pointer;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* exactly 3 columns */
  gap: 12px;
}

h3 {
  text-align: center;
  margin: 0%;
}

.headline {
  text-align: center;
  color: rgb(184, 13, 85);
  margin: 2%;
}

.text-h {
  color: rgb(11, 7, 7);
}

.view-more-btn {
  width: 90px;
  border: none;
  color: rgb(3, 3, 5);
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #f0f0f0;
}

.view-more-btn:hover {
  background-color: #e0e0e0;
}