.form-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.form-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.make-payment-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}